@using Microsoft.AspNetCore.Identity;
@using TechWizMain.Areas.Identity.Data;
@model TechWizMain.Models.Product
@inject UserManager<UserManager> _userManager;
@inject SignInManager<UserManager> SignInManager

@{
    ViewBag.Title = "Details Product";
    Layout = "_Layout";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>product detaiils</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product details start-->
<div class="product_details mt-100 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="product-details-tab">
                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img id="zoom1" src="@Model.ImageUrl" 
                                 data-zoom-image=" src="@Model.ImageUrl" alt="big-1">
                        </a>
                    </div>
                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                            <li>
                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                   data-image="@Model.ImageUrl"
                                   data-zoom-image="@Model.ImageUrl">
                                    <img src="@Model.ImageUrl" alt="zo-th-1" />
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>


            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form action="#">

                        <h1><a href="#">@Html.DisplayFor(model => model.Name) </a></h1>

                        <div class="product_ratting">
                            <ul>
                            @for (int i = 0; i < ViewBag.Number; i++)
                            {
                                    <li><a href="#"><i class="fas fa-star text-warning"></i></a></li>
                            }
                                <li class="review"><a href="#"> (customer review ) </a></li>
                            </ul>
                        </div>
                        <div class="price_box">
                            <span class="current_price">$@Html.DisplayFor(model => model.Price)</span> @*giá mới *@
                            <span class="old_price">$@Html.DisplayFor(model => model.BasePrice)</span> @*giá cũ*@

                        </div>
                        <div class="product_desc">
                            <p>
                                @{
                                    var description = Model.Description.ToString(); // Chuyển đối tượng StringHtmlContent thành chuỗi
                                    var shortDescription = description.Length > 50 ? description.Substring(0, 50) + "..." : description;
                                }

                                <div id="descriptionContainer">
                                    @if (description.Length > 50)
                                    {
                                        <span id="shortDescription">@Html.Raw(shortDescription)</span>
                                        <span id="fullDescription" style="display: none;">@Html.Raw(description)</span>
                                        <a href="#" id="showFullDescription">See more</a>
                                    }
                                    else
                                    {
                                        @Html.Raw(description)
                                    }

                                    <a  href="#" id="hideFullDescription" style="display: none;">Collapse</a>
                            </p>
                        </div>

                        <div class="product_variant quantity">
                            <label>quantity</label>
                            <input id="quantityInput" min="1" max="100" value="1" type="number">
                            <button class="button" type="submit" id="addToCartButton">add to cart</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->

@*REVIEW*@
<div class="product_d_info mb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist" id="nav-tab">
                            <li class="nav-item">
                                <a class="nav-link active" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab"
                                   aria-controls="reviews" aria-selected="true">Reviews @ViewBag.CountReviews</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="reviews" role="tabpanel">
                            <div class="reviews_wrapper">
                                <h2>@ViewBag.CountReviews review for @Model.Name</h2>
                                <div class="reviews_comment_box">
                                    <div class="comment_thmb">
                                        <img src="assets/img/blog/comment2.jpg" alt="">
                                    </div>
                                    <div class="comment_text">
                                    @foreach(var x in ViewBag.Reviews)
                                    {
                            <div class="reviews_meta">
                                <div class="star_rating">
                                    <ul>
                                        
                                                @for (int i = 0; i < x.Rating; i++)
                                                {
                                                    <li><a href="#"><i class="fas fa-star text-warning"></i></a></li>
                                                }
                                                    </ul>
                                                </div>
                                                @{
                                                    var user = await _userManager.FindByIdAsync(x.UserId);
                                                }
                                                
                                                <p><strong>@user.UserName </strong>
                                                - @x.ReviewDate</p>
                                                <span>@x.Content</span>
                                            </div>
                                    }
                        
                                    </div>
                                </div>
                                <div class="comment_title text-center">
                                    <h2>Add a review</h2>
                                </div>
                                <div>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var currentUser = _userManager.GetUserAsync(User).Result;

                                    <div class="product_ratting mb-10">
                                        <h3>Your rating</h3>
                                    </div>
                                    <div class="product_review_form">
                                            <form asp-controller="Home" asp-action="InsertReview">
                                            <div class="checkbox-group">
                                                <div class="checkbox-group">
                                                    <input type="checkbox" id="star1" class="star-checkbox" name="vehicle1" value="1">
                                                    <label class="star-label" for="star1">&#9733;</label>

                                                    <input type="checkbox" id="star2" class="star-checkbox" name="vehicle1" value="2">
                                                    <label class="star-label" for="star2">&#9733;</label>

                                                    <input type="checkbox" id="star3" class="star-checkbox" name="vehicle1" value="3">
                                                    <label class="star-label" for="star3">&#9733;</label>

                                                    <input type="checkbox" id="star4" class="star-checkbox" name="vehicle1" value="4">
                                                    <label class="star-label" for="star4">&#9733;</label>

                                                    <input type="checkbox" id="star5" class="star-checkbox" name="vehicle1" value="5">
                                                    <label class="star-label" for="star5">&#9733;</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                 <div class="col-12">
                                                    <input name="ProductId" id="review_comment" value="@Model.Id" type="hidden" />
                                                   <input name="UserId" id="review_comment" value="@currentUser.Id" type="hidden"/>
                                                 </div>
                                                <div class="col-12">
                                                    <label for="review_comment">Your review</label>
                                                    <textarea name="content" id="review_comment"></textarea>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label for="author">Name</label>
                                                        <input id="author" type="text" value="@currentUser.FullName">
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label for="email">Email</label>
                                                    <input id="email" type="text" value="@currentUser.Email">
                                                </div>
                                            </div>
                                            <button type="submit">Submit</button>
                                        </form>
                                    </div>
                                    }else{
                                    <h2 class="text-center"><a href="/Identity/Account/Login">Please Login to Review</a></h2>
                                    }                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*BEST SALER*@
<section class="product_area upsell_products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Upsell Products </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html">
                                    <img src="assets/img/product/product7.jpg" alt="">
                                </a>
                                <div class="label_product">
                                    <span class="label_sale">-4%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="add_to_cart">
                                            <a href="cart.html" title="Add to cart">
                                                <i class="icon-shopping-bag"></i>
                                            </a>
                                        </li>
                                        <li class="compare">
                                            <a href="#" title="Add to Compare">
                                                <i class="icon-sliders"></i>
                                            </a>
                                        </li>
                                        <li class="wishlist">
                                            <a href="wishlist.html" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </li>
                                        <li class="quick_button">
                                            <a href="#" data-bs-toggle="modal"
                                               data-bs-target="#modal_box" title="quick view">
                                                <i class="icon-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html">sapien libero</a></h4>
                                <div class="price_box">
                                    <span class="current_price">£69.00</span>
                                    <span class="old_price">£74.00</span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

@*ajax add card*@
<script>
    $(document).ready(function () {
        $("#addToCartButton").click(function () {
            var quantity = $("#quantityInput").val();
            var productId = "@Model.Id"; // Lấy Id sản phẩm từ mô hình
            var salePrice = "@Model.BasePrice";
            var url2 = "/addToCart/" + productId + "/" + quantity + "/" + salePrice;
            // Gửi yêu cầu AJAX đến server để thêm sản phẩm vào giỏ hàng
            $.ajax({
                type: "get",
                url: url2, // Đường dẫn đến action xử lý thêm vào giỏ hàng
                success: function (response) {
                    // Xử lý khi yêu cầu thành công
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Product added to cart!',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Failed to add product to cart. Please try again.',
                        });
                    }
                },
                error: function () {
                    // Xử lý khi yêu cầu thất bại
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred. Please try again later.',
                    });
                }
            });
        });
    });
</script>

@*
ẩn mo ta*@
<script>
    $(document).ready(function () {
        $("#showFullDescription").click(function () {
            $("#shortDescription").hide();
            $("#fullDescription").show();
            $("#showFullDescription").hide();
            $("#hideFullDescription").show();
        });

        $("#hideFullDescription").click(function () {
            $("#fullDescription").hide();
            $("#shortDescription").show();
            $("#hideFullDescription").hide();
            $("#showFullDescription").show();
        });
    });


        const ratingStars = document.querySelectorAll('#ratingStars li a');

    ratingStars.forEach(star => {
        star.addEventListener('click', function (event) {
            event.preventDefault();
            const selectedStar = parseInt(this.getAttribute('data-star'));

            // Xử lý logic khi người dùng đánh giá sao ở mức selectedStar

            // Ví dụ: Hiển thị thông báo
            alert(`Bạn đã đánh giá ${selectedStar} sao`);
        });
    });
</script>