@model IEnumerable<TechWizMain.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<!--slider area start-->
    <section class="slider_section">
        <div class="slider_area owl-carousel">
            <div class="single_slider d-flex align-items-center" data-bgimg="images/slider/slider1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h1>Welcome</h1>
                                <p>View my new Products </p>
                                <a class="button" asp-controller="Home" asp-action="ShopList">Discover Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="images/slider/slider2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h1>TOP BUY</h1>
                                <p>See on my Product </p>
                                <a class="button" href="/">Discover Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="images/slider/slider12.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h1>Lovely Plants </h1>
                                <p>Beautiful Tree in Home </p>
                                <a class="button" href="/">Discover Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--slider area end-->

    <!--shipping area start-->
    <div class="shipping_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="/images/about/shipping1.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h3>Free Delivery</h3>
                            <p>Free shipping around the world for all <br> orders over $120</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping col_2">
                        <div class="shipping_icone">
                            <img src="/images/about/shipping2.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h3>Safe Payment</h3>
                            <p>With our payment gateway, don’t worry <br> about your information</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping col_3">
                        <div class="shipping_icone">
                            <img src="/images/about/shipping3.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h3>Friendly Services</h3>
                            <p>You have 30-day return guarantee for <br> every single order</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--shipping area end-->

    <!--banner area start-->
    <div class="banner_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="/images/banner/banner1.jpg" alt=""></a>
                            <div class="banner_content">
                                <h3>Big Sale Products</h3>
                                <h2>Plants <br> For Interior</h2>
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-6 col-md-6">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="/images/banner/banner2.jpg" alt=""></a>
                            <div class="banner_content">
                                <h3>Top Products</h3>
                                <h2>Plants <br> For Healthy</h2>
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->

    <!--product area start-->
    <div class="product_area  mb-95">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_header">
                        <div class="section_title">
                            <h2>New Products</h2>
                        </div>
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist" id="nav-tab">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#plant1" role="tab" aria-controls="plant1"
                                        aria-selected="true">
                                        Plant families
                                    </a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#plant2" role="tab" aria-controls="plant2"
                                        aria-selected="false">
                                        Accessories families
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="plant1" role="tabpanel">
                    <div class="row">
                        <div class="product_carousel product_column4 owl-carousel">
                            @{
                                var displayedProductNames = new HashSet<string>();
                            }

                            @foreach (var x in ViewData["NewestProducts"] as List<ProductResult>)
                            {
                                if (!displayedProductNames.Contains(x.Product.Name))
                                {
                                    displayedProductNames.Add(x.Product.Name);
                                    <div class="col-lg-3">
                                        <div class="product_items">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                    <a class="primary_img" asp-controller="Home" asp-action="Details" asp-route-id="@x.Product.Id">
                                                            @if(!string.IsNullOrEmpty(x.Product.ImageUrl)){
                                                                <img src="@x.Product.ImageUrl" alt="@x.Product.Name">
                                                            }
                                                        </a>
                                                        <div class="label_product">
                                                            <span class="label_sale">-@x.Discount.Name</span>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart">
                                                                    <a href="#" title="Add to cart"><i class="fa-solid fa-cart-plus" style="color: #0d0f12;"></i></a></li>
                                                                <li class="wishlist">
                                                                    <a href="#" title="Add to Wishlist"><i class="fa-regular fa-heart" style="color: #0a0c10;"></i></a>
                                                                </li>
                                                                <li class="quick_button">
                                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick view"> <i class="fa-regular fa-eye" style="color: #060b13;"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <figcaption class="product_content">
                                                        <div class="product_rating">
                                                            <ul>
                                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <h4 class="product_name">
                                                        <a asp-controller="Home" asp-action="Details" asp-route-id="@x.Product.Id">@x.Product.Name</a>
                                                    </h4>
                                                        <div class="price_box">
                                                            <span class="current_price">$@x.Product.Price</span>
                                                            <span class="old_price">$@x.Product.BasePrice</span>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </article>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="plant2" role="tabpanel">
                    <div class="row">
                        <div class="product_carousel product_column4 owl-carousel">
                            @foreach (var x in ViewData["newestAccessories"] as List<ProductResult>)
                            {
                                <div class="col-lg-3">
                                    <div class="product_items">
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                                <a class="primary_img" asp-controller="Home" asp-action="Details" asp-route-id="@x.Product.Id">
                                                @if(!string.IsNullOrEmpty(@x.Product.ImageUrl)){
                                                    <img src="@x.Product.ImageUrl" alt="@x.Product.Name">
                                                }
                                            </a>
                                            <div class="label_product">
                                                <span class="label_sale">-@x.Discount.Name</span>
                                            </div>
                                            <div class="action_links">
                                                <ul>
                                                    <li class="add_to_cart">
                                                        <a href="#" title="Add to cart"><i class="fa-solid fa-cart-plus" style="color: #0d0f12;"></i></a></li>
                                                    <li class="wishlist">
                                                        <a href="#" title="Add to Wishlist"><i class="fa-regular fa-heart" style="color: #0a0c10;"></i></a>
                                                    </li>
                                                    <li class="quick_button">
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick view"> <i class="fa-regular fa-eye" style="color: #060b13;"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <figcaption class="product_content">
                                            <div class="product_rating">
                                                <ul>
                                                    <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                    <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                    <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                    <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                    <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                </ul>
                                            </div>
                                            <h4 class="product_name">
                                                <a>@x.Product.Name</a></h4>
                                            <div class="price_box">
                                                <span class="current_price">$@x.Product.Price</span>
                                                <span class="old_price">$@x.Product.BasePrice</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>

                            </div>
                        </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product area end-->

    <!--product area start-->
    <div class="product_area product_deals ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>Best Seller</h2>
                    </div>
                </div>
            </div>
            <div class="product_deals_container">
                <div class="row">
                    <div class="product_carousel product_column5 owl-carousel">
                        @foreach (var x in ViewData["BestSellerProducts"] as List<ProductResult>)
                        {
                            <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a class="primary_img" asp-controller="Home" asp-action="Details" asp-route-id="@x.Product.Id">
                                            @if (!string.IsNullOrEmpty(@x.Product.ImageUrl))
                                            {
                                                <img src="@x.Product.ImageUrl" alt="@x.Product.Name">
                                            }
                                        </a>
                                        <div class="label_product">
                                            <span class="label_sale">-@x.Discount.Name</span>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                                <li><a href="#"><i class="fa-solid fa-star" style="color: #dfe208;"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4 class="product_name"><a asp-controller="Home" asp-action="Details" asp-route-id="@x.Product.Id">@x.Product.Name</a>
                                        </h4>
                                        <div class="price_box">
                                            <span class="current_price">$@x.Product.Price</span>
                                            <span class="old_price">$@x.Product.BasePrice</span>
                                        </div>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        }
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product area end-->

<<<<<<< HEAD



@*view modal*@
<div class=" modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <img src="/images/logo/Logo.png" class="img-fluid" style="max-width: 200px;" />
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div id="modal-content"></div>
            </div>
        </div>
    </div>
</div>


<script>

    //js xem detail
    $(document).ready(function () {
        $(".open-modal-button").click(function () {
            var id = $(this).data("id");
            $.ajax({
                url: "/Admin/Products/ProductDetails", // Đường dẫn đến action Details
                type: "GET",
                data: { id: id },
                success: function (data) {
                    $("#modal-content").html(data); // Hiển thị nội dung trong cửa sổ popup
                    $("#myModal").modal("show"); // Mở cửa sổ popup
                }
            });
        });
    });

</script>
=======
>>>>>>> master
