@model X.PagedList.IPagedList<TechWizMain.Models.Product>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@*@model List<TechWizMain.Models.Product>*@
@{
    ViewData["Title"] = "Products List";
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Shop</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Category</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area shop_reverse mt-100 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="niceselect_option">
                    <div class="widget_inner">
                       
                            <h3>Filter by price</h3>
                        <form asp-action="ProductByCategory" asp-controller="Home" asp-route-minPrice="" asp-route-maxPrice=""
                              asp-route-orderSort="" method="get">
                               <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Min Price: </span>
                                </div>
                                <input class="form-control" type="number" name="minPrice">
                              </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Max Price: </span>
                                </div>
                                <input class="form-control" type="number" name="maxPrice">
                            </div>                         
                            <select name="orderSort" id="short" class="form-select mt-3">
                               <option value="price-asc">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>                               
                            </select>
                            <div style="margin-top:16px">
                                <button type="submit" class="btn btn-success">Filter</button>
                            </div>
                            </form>                     

                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">

                        <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip"
                                title="3">                          
                        </button>

                        <button data-role="grid_4" type="button" class=" btn-grid-4" data-bs-toggle="tooltip"
                                title="4">                          
                        </button>

                        <button data-role="grid_list" type="button" class="active btn-list" data-bs-toggle="tooltip"
                                title="List">                          
                        </button>
                    </div>                                
                </div>
                <!--shop toolbar end-->
                <div class="row shop_wrapper grid_list">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 ">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a class="primary_img" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"><img src="@item.ImageUrl" alt="@item.Name" width="250"></a>
                                        @Html.Partial("_labelDiscount",item)
                                    @*    <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="cart.html" title="Add to cart">
                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>*@
                                     @*   <div class="action_links list_action">
                                            <ul>
                                                <li class="quick_button">
                                            <a href="#" data-bs-toggle="modal"
                                            data-bs-target="#modal_box" title="quick view">
                                            <i class="icon-eye"></i>
                                            </a>
                                            </li>
                                            </ul>
                                        </div>*@
                                    </div>
                                    <div class="product_content grid_content">
                                        <div class="product_price_rating">
                                          @*  <div class="product_rating">
                                                <ul>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                </ul>
                                            </div>*@
                                            <h4 class="product_name">
                                                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </h4>
                                            @Html.Partial("_showPrice", item)
                                        </div>
                                    </div>
                                    <div class="product_content list_content">
                                       @* <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                            </ul>
                                        </div>*@
                                        <h4 class="product_name">
                                            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                        </h4>
                                        @Html.Partial("_showPrice", item)
                                        <div class="product_desc">
                                            <p>
                                                @item.Description
                                            </p>
                                        </div>
                                       @* <div class="action_links list_action_right">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to cart">
                                                        Add to
                                                        cart
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>*@
                                    </div>
                                </figure>
                            </article>
                        </div>
                    }
                </div>
                <div class="shop_toolbar t_bottom">                  
                        <div>
                        @Html.PagedListPager(Model, page=>Url.Action("ProductByCategory", "Home", new { @id = ViewBag.cateID, @minPrice= ViewBag.MinPrice, @maxPrice=ViewBag.MaxPrice, @orderSort = ViewBag.OrderSort, page = page }),  new PagedListRenderOptions()
                            {
                            ActiveLiElementClass = "active",
                            PageClasses = new[]{ "page-link"},
                            LiElementClasses=new[] { "page-item" },
                            UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
                            LinkToNextPageFormat = "Next",
                            LinkToPreviousPageFormat = "Previous",
                            MaximumPageNumbersToDisplay = 5,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                            DisplayLinkToNextPage = PagedListDisplayMode.Always
                            } )
                        </div>                   
                </div>              
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->


