@model X.PagedList.IPagedList<TechWizMain.Models.Product>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@*@model List<TechWizMain.Models.Product>*@
@{
    ViewData["Title"] = "Products List";

}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Shop</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>   Category Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area shop_reverse mt-100 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                
                    <!--sidebar widget start-->
                    <aside class="niceselect_option">
                        <div class="widget_inner">
                            <h4 class="mb-4">FILTER BY PRICE</h4>
                            <form asp-action="ProductByCategory" asp-controller="Home" method="get" class="filter-form">
                                <div class="form-group">
                                    <label for="minPrice">Min:</label>
                                    <input type="number" value="0" name="minPrice" id="minPrice" class="form-control form-control-sm">
                                </div>
                                <div class="form-group">
                                    <label for="maxPrice">Max:</label>
                                    <input type="number" name="maxPrice" id="maxPrice" class="form-control form-control-sm">
                                </div>

                                <div class="form-group">
                                    <label for="orderSort">Sort by:</label>
                                    <select name="orderSort" id="orderSort" class="form-control form-control-sm">
                                        <option value="price-asc">Price: Low to High</option>
                                        <option value="price-desc">Price: High to Low</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                            </form>


                        </div>
                    </aside>
                    <!--sidebar widget end-->
                

                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">

                        <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip"
                                title="3">
                          
                        </button>

                        <button data-role="grid_4" type="button" class=" btn-grid-4" data-bs-toggle="tooltip"
                                title="4">
                          
                        </button>

                        <button data-role="grid_list" type="button" class="active btn-list" data-bs-toggle="tooltip"
                                title="List">
                          
                        </button>
                    </div>
                    <div class=" niceselect_option">
                        <form class="select_option" asp-action="ProductByCategory" asp-controller="Home" method="get">
                            <select name="orderby" id="short">                       
                                <option value="price-asc">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                                <option value="atoz">Product Name: A - Z</option>
                            </select>
                        </form>
                    </div>                   
                </div>
                <!--shop toolbar end-->
                <div class="row shop_wrapper grid_list">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 ">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a class="primary_img" href="product-details.html">
                                            <img src="@item.ImageUrl" alt="">
                                        </a>
                                        <div class="label_product">
                                            <span class="label_sale">@item.Discount.Name</span>
                                        </div>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="cart.html" title="Add to cart">
                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                    </a>
                                                </li>


                                            </ul>
                                        </div>
                                        <div class="action_links list_action">
                                            <ul>
                                                @* <li class="quick_button">
                                            <a href="#" data-bs-toggle="modal"
                                            data-bs-target="#modal_box" title="quick view">
                                            <i class="icon-eye"></i>
                                            </a>
                                            </li>*@
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_content grid_content">
                                        <div class="product_price_rating">
                                            <div class="product_rating">
                                                <ul>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                    <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h4 class="product_name">
                                                <a href="product-details.html">

                                                </a>
                                            </h4>
                                            <div class="price_box">
                                                @{
                                                    var current_price = item.Price * (1 - Convert.ToDecimal(item.Discount.Percent));
                                                    <span class="current_price">@current_price</span>
                                                }
                                                <span class="old_price">@item.Price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_content list_content">
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i style="color:orange" class="fa-solid fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4 class="product_name">
                                            <a href="product-details.html">@item.Name</a>
                                        </h4>
                                        <div class="price_box">
                                            @{
                //var current_price = item.Price * (1 - Convert.ToDecimal(item.Discount.Percent));
                                                <span class="current_price">@current_price</span>
                                            }

                                            <span class="old_price">@item.Price</span>
                                        </div>
                                        <div class="product_desc">
                                            <p>
                                                @item.Description
                                            </p>
                                        </div>
                                        <div class="action_links list_action_right">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to cart">
                                                        Add to
                                                        cart
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                    }
                </div>

                <div class="shop_toolbar t_bottom">
                  
                        <div>
                        @Html.PagedListPager(Model, page=>Url.Action("ProductByCategory", "Home", new { page = page, @id = ViewBag.cateID, @minPrice= ViewBag.MinPrice, @maxPrice=ViewBag.MaxPrice, @orderSort = ViewBag.OrderSort }),  new PagedListRenderOptions()
                            {
                            ActiveLiElementClass = "active",
                            PageClasses = new[]{ "page-link"},
                            LiElementClasses=new[] { "page-item" },
                            UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
                            LinkToNextPageFormat = "Next",
                            LinkToPreviousPageFormat = "Previous",
                            MaximumPageNumbersToDisplay = 5,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                            DisplayLinkToNextPage = PagedListDisplayMode.Always
                            } )
                        </div>
                   
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->


