

@{
    var cart = ViewData["listCart"] as List<ProductBill>;
    Console.WriteLine("");
}
<div class="mini_cart">
    <form asp-action="Index" asp-controller="Home">
        <div class="cart_gallery">
            <div class="cart_close">
                <div class="cart_text">
                    <h3>cart</h3>
                </div>
                <div class="mini_cart_close">
                    <a href="javascript:void(0)"><i class="fa-solid fa-circle-xmark" style="color: #0b0e14;"></i></a>
                </div>
            </div>
            @if (cart != null)
            {
                @foreach (var x in cart)
                {

                    <div class="cart_item">
                        <div class="cart_img">
                            <a href="#"><img src="@x.Product.ImageUrl" alt="@x.Product.Name" width="100px" height="100px"></a>
                        </div><div class="cart_info">
                            <a asp-controller="Home" asp-action="Details">@x.Product</a>
                            <input type="number" value="@x.SalePrice"><span> @x.SalePrice</span>
                        </div>
                    </div>

                }
            }

        </div>
        <div class="mini_cart_table">
            <div class="cart_table_border">
                <div class="cart_total">
                    <span>Sub total:</span>
                </div>
                <div class="cart_total mt-10">
                    <span>total:</span>
                    <span class="price">$125.00</span>
                </div>
            </div>
        </div>
        <div class="mini_cart_footer">
            git
            <div class="cart_button">
                <a href="cart.html">update</a>
            </div>
            <div class="cart_button">
                <a class="active" asp-controller="Home" asp-action="Checkout">
                    <i class="fa fa-sign-in"></i>
                    Checkout
                </a>
            </div>

        </div>
    </form>
</div>
>>>>>>> master

