@model IEnumerable<TechWizMain.Areas.Identity.Data.UserManager>



<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>DOB</th>
        <th>PhoneNumber</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                <p>@user.UserName</p>
            </td>
            <td>
                <p>@user.FullName</p>
            </td>
            <td>
                <p>@user.DateOfBirth</p>
            </td>
            <td>
                <p>@user.Email</p>
            </td>
            <td>
                <p>@user.Address</p>
            </td>
        </tr>
    }
</table>



