@using Microsoft.AspNetCore.Identity;
@using TechWizMain.Areas.Identity.Data;
@using TechWizMain.Services
@inject UserManager<UserManager> _userManager
@model TechWizMain.Models.Bill
@{
    ViewBag.Title = "Process Bill";
    Layout = "_AdminLayout";
}

<div class="d-flex align-items-center mb-3">
	<div>
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">PAGES</a></li>
			<li class="breadcrumb-item active">Process Bill</li>
		</ul>
		<h1 class="page-header mb-0">Process Bill</h1>
	</div>
</div>
@{
	var pagingModel = new PagingModel()
			{
				currentPage = ViewBag.currentPage,
				countPages = ViewBag.countPages,
				generateUrl = (int? p) => @Url.Page("", new { p = p })
			};
}
<partial name="_Paging" model="@pagingModel" />

<div class="card">
	<ul class="nav nav-tabs nav-tabs-v2 px-4">
		<li class="nav-item me-3">
			<a href="#SpendingTab" class="nav-link active px-2"
			   data-bs-toggle="tab">Spending</a>
		</li>
		<li class="nav-item me-3">
			<a href="#SucessTab" class="nav-link px-2"
			   data-bs-toggle="tab">Success</a>
		</li>
		<li class="nav-item me-3">
			<a href="#CancelTab" class="nav-link px-2"
			   data-bs-toggle="tab">Cancel</a>
		</li>
	</ul>
	<div style="padding: 1.1rem!important;" class="tab-content ">
		<div class="tab-pane fade show active" id="SpendingTab">
			
			<div class="table-responsive">
				<table class="table table-hover text-nowrap">
					<thead>
						<tr>
							<th class="border-top-0 pt-0 pb-2"></th>
							<th class="border-top-0 pt-0 pb-2"></th>
							<th class="border-top-0 pt-0 pb-2">OrderName</th>
							<th class="border-top-0 pt-0 pb-2">DeliveryPhone</th>
							<th class="border-top-0 pt-0 pb-2">DeliveryAdress</th>
							<th class="border-top-0 pt-0 pb-2">Total</th>
							<th class="border-top-0 pt-0 pb-2">Status</th>
							<th class="border-top-0 pt-0 pb-2">Action</th>
						</tr>
					</thead>
					<tbody>
						@{
							var count1 = 1;
							var user = new UserManager();
						}
						@foreach (var x in ViewBag.ListSpending)
						{
							<tr>
								<td class="w-10px align-middle">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="product1">
										<label class="form-check-label" for="product1"></label>
									</div>
								</td>
								@if (x.Id != null)
								{
									user = await _userManager.FindByIdAsync(x.UserId);
									<td class="align-middle">@(count1++)</td>
								}
								<td class="align-middle">@user.UserName</td>
								<td class="align-middle">@x.DeliveryPhone</td>
								<td class="align-middle">@x.DeliveryAddress</td>
								<td class="py-1 align-middle">
									@x.Total
								</td>
								<td class="align-middle">
									<span class="badge bg-teal text-teal-800 bg-opacity-25 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">
										<i class="fa fa-circle text-teal fs-9px fa-fw me-5px"></i> @x.Status
									</span>
								</td>
								<td class="align-middle">
									<form method="get" asp-action="ProccessStatus" id="" asp-controller="Admin">
										<input type="hidden" name="Id" value="@x.Id" />
										<select name="process" id="proccess" class="form-select text-teal fs-15px">
											<option value="@ViewBag.Success" selected >Success</option>
											<option value="@ViewBag.Cancel">Cancel</option>
											<input type="submit" value="Submit" class="btn btn-success" />
										</select>									
									</form>
									
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>


		</div>
	</div>
	<div style="padding: 1.1rem!important;" class="tab-content ">
		<div class="tab-pane fade" id="SucessTab">
			<div class="table-responsive">
				<table class="table table-hover text-nowrap">
					<thead>
						<tr>
							<th class="border-top-0 pt-0 pb-2"></th>
							<th class="border-top-0 pt-0 pb-2"></th>
							<th class="border-top-0 pt-0 pb-2">OrderName</th>
							<th class="border-top-0 pt-0 pb-2">DeliveryPhone</th>
							<th class="border-top-0 pt-0 pb-2">DeliveryAdress</th>
							<th class="border-top-0 pt-0 pb-2">Total</th>
							<th class="border-top-0 pt-0 pb-2">Status</th>
						</tr>
					</thead>
					<tbody>
						@{
							var count2 = 1;
						}
						@foreach (var x in ViewBag.ListSuccess)
						{
							<tr>
								<td class="w-10px align-middle">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="product1">
										<label class="form-check-label" for="product1"></label>
									</div>
								</td>
								@if (x.Id != null)
								{
									user = await _userManager.FindByIdAsync(x.UserId);
									<td class="align-middle">@(count2++)</td>
								}
								<td class="align-middle">@user.UserName</td>
								<td class="align-middle">@x.DeliveryPhone</td>
								<td class="align-middle">@x.DeliveryAddress</td>
								<td class="py-1 align-middle">
									@x.Total
								</td>
								<td class="align-middle">
									<span class="badge bg-teal text-teal-800 bg-opacity-25 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">
										<i class="fa fa-circle text-teal fs-9px fa-fw me-5px"></i> @x.Status
									</span>
								</td>
								
							</tr>
						}
					</tbody>
				</table>
			</div>


		</div>
	</div>
	<div style="padding: 1.1rem!important;" class="tab-content ">
		<div class="tab-pane fade" id="CancelTab">
			<div class="table-responsive">
				<table class="table table-hover text-nowrap">
					<thead>
						<tr>
							<th class="border-top-0 pt-0 pb-2"></th>
							<th class="border-top-0 pt-0 pb-2"></th>
							<th class="border-top-0 pt-0 pb-2">OrderName</th>
							<th class="border-top-0 pt-0 pb-2">DeliveryPhone</th>
							<th class="border-top-0 pt-0 pb-2">DeliveryAdress</th>
							<th class="border-top-0 pt-0 pb-2">Total</th>
							<th class="border-top-0 pt-0 pb-2">Status</th>
						</tr>
					</thead>
					<tbody>
						@{
							var count3 = 1;
						}
						@foreach (var x in ViewBag.ListCancel)
						{
							<tr>
								<td class="w-10px align-middle">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="product1">
										<label class="form-check-label" for="product1"></label>
									</div>
								</td>
								@if (x.Id != null)
								{
									user = await _userManager.FindByIdAsync(x.UserId);
									<td class="align-middle">@(count3++)</td>
								}
								<td class="align-middle">@user.UserName</td>
								<td class="align-middle">@x.DeliveryPhone</td>
								<td class="align-middle">@x.DeliveryAddress</td>
								<td class="py-1 align-middle">
									@x.Total
								</td>
								<td class="align-middle">
									<span class="badge bg-teal text-teal-800 bg-opacity-25 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">
										<i class="fa fa-circle text-teal fs-9px fa-fw me-5px"></i> @x.Status
									</span>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>


		</div>
	</div>
</div>
