@model TechWizMain.Models.Discount

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
<div class="container">
    <div class="card bg-transparent border-0 shadow-lg">
        <div class="card-body p-5 text-center">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> Are you sure you want to delete discounts?</h3>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Percent)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Percent)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateBegin)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateBegin)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateEnd)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateEnd)
                    </dd>
                </dl>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back To List</a>
                </form>
            </div>
        </div>
    </div>
</div>





