@model TechWizMain.Models.Product
@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}
<h1>Details</h1>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ImageUrl" width="100px"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
