@model IEnumerable<TechWizMain.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div class="d-flex align-items-center mb-3">
    <div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">PAGES</a></li>
            <li class="breadcrumb-item active">PRODUCTS</li>
        </ul>
        <h1 class="page-header mb-0">Products</h1>
    </div>
    <div class="ms-auto">
        <a asp-action="Create" asp-controller="Products" class="btn btn-theme"><i class="fa fa-plus-circle fa-fw me-1"></i> Add Product</a>
    </div>
</div>
<div class="card">
    <ul class="nav nav-tabs nav-tabs-v2 px-4">
        <li class="nav-item me-3">
            <a href="#allTab" class="nav-link active px-2"
               data-bs-toggle="tab">All</a>
        </li>
        <li class="nav-item me-3">
            <a href="#publishedTab" class="nav-link px-2"
               data-bs-toggle="tab">Published</a>
        </li>
        <li class="nav-item me-3">
            <a href="#expiredTab" class="nav-link px-2"
               data-bs-toggle="tab">Expired</a>
        </li>
        <li class="nav-item me-3">
            <a href="#deletedTab" class="nav-link px-2"
               data-bs-toggle="tab">Deleted</a>
        </li>
    </ul>
<div class="tab-content p-4">
<div class="tab-pane fade show active" id="allTab">
<div class="input-group mb-4">
    <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Filter products &nbsp;
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
    <div class="flex-fill position-relative z-1">
        <div class="input-group">
            <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0"
                 style="z-index: 1020;">
                <i class="fa fa-search opacity-5"></i>
            </div>
            <input type="text" class="form-control ps-35px" placeholder="Search products">
        </div>
    </div>
</div>

<div class="d-flex align-items-center mb-3">
    <div>
        <h1 class="page-header mb-0">Products List</h1>
    </div>
</div>

<div class="tab-pane fade show active" id="allTab">

<div class="card">
    <ul class="nav nav-tabs nav-tabs-v2 px-4">
        <li class="nav-item me-3">
            <a href="#ActiveTab" class="nav-link active px-2"
               data-bs-toggle="tab">Active</a>
        </li>
        <li class="nav-item me-3">
            <a href="#BannedTab" class="nav-link px-2"
               data-bs-toggle="tab">Discontinued</a>
        </li>
    </ul>

    <div style=" padding: 0.5rem!important; margint-top:10px" class="tab-content ">
        <div class="tab-pane fade show active mx-3" id="ActiveTab" style="margin-top:30px;">
            <div class="input-group mb-4">
                <div class="flex-fill position-relative">
                    <div class="input-group">
                        <input type="text" class="form-control ps-35px" placeholder="Filter User">
                        <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0"
                             style="z-index: 1020;">
                            <i class="fa fa-search opacity-5"></i>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="border-top-0 pt-0 pb-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="border-top-0 pt-0 pb-2">
                                Type
                            </th>
                            <th class="border-top-0 pt-0 pb-2">
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th class="border-top-0 pt-0 pb-2">
                                @Html.DisplayNameFor(model => model.BasePrice)
                            </th>
                            <th class="border-top-0 pt-0 pb-2">
                                Inventory
                            </th>
                            <th class="border-top-0 pt-0 pb-2">
                                @Html.DisplayNameFor(model => model.Discount)
                            </th>
                            <th class="border-top-0 pt-0 pb-2">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th class="border-top-0 pt-0 pb-2">
                                @Html.DisplayNameFor(model => model.ImageUrl)
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            var count1 = 1;
                        }
                        @foreach (var x in ViewBag.Active)
                        {
                            <tr>
                                @if (x.Id != null)
                                {

                                    <td class="align-middle">@(count1++)</td>
                                }
                                <td class="align-middle">@x.Name</td>
                                <td class="align-middle">@x.TypeProduct</td>
                                <td class="align-middle">@x.Price</td>
                                <td class="align-middle">@x.BasePrice</td>
                                <td class="align-middle">@x.InventoryQuantity</td>
                                <td class="align-middle">
                                    @x.Discount.Name
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-info btn-sm btn-rounded buttonDelete waves-effect waves-light py-2 px-3" type="button"><a data-id="@x.Id" class="open-modal-button text-white text-decoration-none">Details</a></button>
                                </td>
                                <td>
                                    <img src="@x.ImageUrl" width="100px">
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-warning btn-sm btn-rounded buttonDelete waves-effect waves-light py-2 px-3" type="button"><a data-id="@x.Id" class="modal-edit text-white text-decoration-none">Edit</a></button>
                                    <button class="btn btn-danger btn-sm btn-rounded buttonDelete waves-effect waves-light py-2 px-3" type="button"><a data-id="@x.Id" class="modal-delete text-white text-decoration-none">Delete</a></button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

                <div class="d-md-flex align-items-center">
                                
                                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content p-4">
    <div class="tab-pane fade" id="BannedTab">
        <div class="input-group mb-4">
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
            <div class="flex-fill position-relative z-1">                  
            </div>
        </div>
        <div class="tab-pane fade show active" id="BannedTab">
            <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="border-top-0 pt-0 pb-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th class="border-top-0 pt-0 pb-2">
                            Type
                        </th>
                        <th class="border-top-0 pt-0 pb-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th class="border-top-0 pt-0 pb-2">
                            @Html.DisplayNameFor(model => model.BasePrice)
                        </th>
                        <th class="border-top-0 pt-0 pb-2">
                            Inventory
                        </th>
                        <th class="border-top-0 pt-0 pb-2">
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th class="border-top-0 pt-0 pb-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th class="border-top-0 pt-0 pb-2">
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var count2 = 1;
                    }
                    @foreach (var x in ViewBag.Deleted)
                    {
                        <tr>
                            @if (x.Id != null)
                            {
                            
                                var count = 1;
                                <td class="align-middle">@(count)</td>
                            }
                            <td class="align-middle">@x.Name</td>
                            <td class="align-middle">@x.TypeProduct</td>
                            <td class="align-middle">@x.Price</td>
                            <td class="align-middle">@x.BasePrice</td>
                            <td class="align-middle">@x.InventoryQuantity</td>
                            <td class="align-middle">
                                @x.Discount.Name
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm btn-rounded buttonDelete waves-effect waves-light py-2 px-3" type="button"><a data-id="@x.Id" class="open-modal-button text-white text-decoration-none">Details</a></button>

                            </td>
                            <td>
                                <img src="@x.ImageUrl" width="100px">
                            </td>
                            <td>
                                <button class="btn btn-info btn-rounded btn-sm buttonEdit waves-effect waves-light py-2 px-3" type="button"><a data-id="@x.Id" class="modal-edit text-white text-decoration-none">Edit</a> <i class="fas fa-pen-square ml-1 text-white"></i></button>

                                <button class="btn btn-danger btn-sm btn-rounded buttonDelete waves-effect waves-light py-2 px-3" type="button"><a data-id="@x.Id" class="modal-delete text-white text-decoration-none">Delete</a><i class="fas fa-times ml-1 text-white"></i></button>

                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="d-md-flex align-items-center">
                <div class="me-md-auto text-md-left text-center mb-2 mb-md-0">
                    Showing 1 to 10 of 57 entries
                </div>
                <ul class="pagination mb-0 justify-content-center">
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>



    <div class=" modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-center">
                    <img src="/images/logo/Logo.png" class="img-fluid" style="max-width: 200px;" />
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div id="modal-content"></div>
                </div>
            </div>


        </div>
    </div>

</div>


</div>

</div>
</div>
</div>
<script>
                //js xem detail
                $(document).ready(function () {
                    $(".open-modal-button").click(function () {
                        var id = $(this).data("id");
                        $.ajax({
                url: "Products/Details", // Đường dẫn đến action Details
                            type: "GET",
                            data: { id: id },
                            success: function (data) {
                                $("#modal-content").html(data); // Hiển thị nội dung trong cửa sổ popup
                                $("#myModal").modal("show"); // Mở cửa sổ popup
                            }
                        });
                    });
                });

                //js edit
                $(document).ready(function () {
                    $(".modal-edit").click(function () {
                        var id = $(this).data("id");
                        $.ajax({
                            url: "Products/Edit", // Đường dẫn đến action Details
                            type: "GET",
                            data: { id: id },
                            success: function (data) {
                                $("#modal-content").html(data); // Hiển thị nội dung trong cửa sổ popup
                                $("#myModal").modal("show"); // Mở cửa sổ popup
                            }
                        });
                    });
                });

                //js delete
                $(document).ready(function () {
                    $(".modal-delete").click(function () {
                        var id = $(this).data("id");
                        $.ajax({
                            url: "Products/Delete", // Đường dẫn đến action Details
                            type: "GET",
                            data: { id: id },
                            success: function (data) {
                                $("#modal-content").html(data); // Hiển thị nội dung trong cửa sổ popup
                                $("#myModal").modal("show"); // Mở cửa sổ popup
                            }
                        });
                    });
                });

            </script>


